<form action="/loginUser" method="POST">
  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]">
  
  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]">
  
  <button type="submit">
    Login
  </button>
</form>